


<div *ngFor="let route of sideRoutes">
  <div *ngIf="!route.hasChildren;else multiList">
    <a routerLink="/{{route.routerLink}}">
      <mat-card class="card">{{route.title}}</mat-card>
    </a>
  </div>
  <ng-template #multiList>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <a routerLink="/{{route.routerLink}}">
            <h3>{{route.title}}</h3>
          </a>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngFor="let child of route.children">
          <a routerLink="/{{route.routerLink}}/{{child.path}}" routerLinkActive="active">
            <h3>{{child.data.title}}</h3>
          </a>
      </div>
    </mat-expansion-panel>
  </ng-template>
</div>