<!-- Really wish I had more routes to work with so I would know what this is going to look like -->

<div *ngFor="let route of sideRoutes">
  <div *ngIf="!route.hasChildren;else multiList">
    <mat-card>
      <a routerLink="/{{route.routerLink}}">
        <h3 class="card">{{route.title}}</h3>
      </a>
    </mat-card>
  </div>
  <ng-template #multiList>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <a routerLink="./{{route.routerLink}}" routerLinkActive="active">
            <h3>{{route.title}}</h3>
          </a>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>

      <div *ngFor="let child of route.children">
        <div *ngIf="child.path != ''">
          <a routerLink="./{{route.routerLink}}/{{child.path}}" routerLinkActive="active">
            <h3>{{child.data.title}}</h3>
          </a>
          <mat-divider *ngIf="route.children.length > 2"></mat-divider>
        </div>
      </div>
    </mat-expansion-panel>
  </ng-template>
</div>